@font-face {
    font-family: 'Better Together';
    src: url('BetterTogether-Script.woff2') format('woff2'),
        url('BetterTogether-Script.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

